<nav class="fixedmenu">
    <div class="fixedmenu__wrapper">
        <div class="fixedmenu__logo">
            <img src="//cdn.shopify.com/s/files/1/0173/8828/files/Proper_Logo_280x_2x_240x240_6b887461-1064-47c5-a958-b6e5a5726d97_280x@2x.png?v=1532311943" alt="Studio Proper" class="primary_logo">
        </div>
        <ul class="fixedmenu__menu">
            <li class="fixedmenu__item">
                <a href="#" class="fixedmenu__link">Item</a>
            </li>
            <li class="fixedmenu__item">
                <a href="#" class="fixedmenu__link">Item</a>
            </li>
            <li class="fixedmenu__item">
                <a href="#" class="fixedmenu__link">Item</a>
            </li>
            <li class="fixedmenu__item">
                <a href="#" class="fixedmenu__link">Item</a>
            </li>
            <li class="fixedmenu__item">
                <a href="#" class="fixedmenu__link">Item</a>
            </li>
            <li class="fixedmenu__item">
                <a href="#" class="fixedmenu__link">Item</a>
            </li>
            <li class="fixedmenu__item">
                <a href="#" class="fixedmenu__link">Item</a>
            </li>
        </ul>
    </div>
</nav>