<div class="container">
    <div class="container">
        <div class="row" style="margin: auto;">
            <div class="col-xs-12 col-sm-6 col-md-3">
                <img src="../assets/free-shipping_400x.webp" alt="" class="img-fluid">
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
                <img src="../assets/free-warranty_400x.webp" alt="" class="img-fluid">
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
                <img src="../assets/authorised-apple-reseller_400x.webp" alt="" class="img-fluid">
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
                <img src="../assets/secure_400x.webp" alt="" class="img-fluid">
            </div>
        </div>
    </div>

</div>

<div class="container" style="padding-top: 50px; text-align: center;">
    <div class="row">
        <div class="col-4">

        </div>
        <div class="col-4">
            <div class="">
                <div class="card-body">
                    <h5 class="card-title">Let us send you emails?</h5>
                    <p class="card-text">Don't worry, we hate spam too. Just the best stuff from us.</p>
                    <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-4">

        </div>
    </div>
</div>

<style>
    img {
        width: 150px;
    }
</style>
