<div class="slider flexslider homepage_slider">

    <a href="/products/wireless-charging-dock-for-apple-airpods">


        <img alt="" src="//cdn.shopify.com/s/files/1/0173/8828/files/190718_AirPods_Charger_01_2048x.jpg?v=1563432361" data-src="//cdn.shopify.com/s/files/1/0173/8828/files/190718_AirPods_Charger_01_2048x.jpg?v=1563432361" class="lazyload--fade-in lazyloaded"
            sizes="100vw" srcset="  //cdn.shopify.com/s/files/1/0173/8828/files/190718_AirPods_Charger_01_2048x.jpg?v=1563432361 2048w,
                    //cdn.shopify.com/s/files/1/0173/8828/files/190718_AirPods_Charger_01_1600x.jpg?v=1563432361 1600w,
                    //cdn.shopify.com/s/files/1/0173/8828/files/190718_AirPods_Charger_01_1200x.jpg?v=1563432361 1200w,
                    //cdn.shopify.com/s/files/1/0173/8828/files/190718_AirPods_Charger_01_1000x.jpg?v=1563432361 1000w,
                    //cdn.shopify.com/s/files/1/0173/8828/files/190718_AirPods_Charger_01_800x.jpg?v=1563432361 800w,
                    //cdn.shopify.com/s/files/1/0173/8828/files/190718_AirPods_Charger_01_600x.jpg?v=1563432361 600w,
                    //cdn.shopify.com/s/files/1/0173/8828/files/190718_AirPods_Charger_01_400x.jpg?v=1563432361 400w" draggable="false">



    </a>


    <div class="flex-caption">
        <div class="container">
            <div class="columns  nine offset-by-one  align_left">

                <h1 class="headline">
                    Wireless Charger for AirPods
                </h1>


                <div class="subtitle">
                    <p>Keep your AirPods always within arm’s reach, always charged.</p>
                </div>


                <a href="/products/wireless-charging-dock-for-apple-airpods" class="btn btn-primary">
                Pre-Order Now
              </a>

            </div>
        </div>
    </div>


</div>