<div class="container">
    <div class="row">
        <div class="col-md-4 box-bor">
            <div class="box" style="width: 23rem;">
                <img src="https://cdn.shopify.com/s/files/1/0173/8828/files/primary-category-business_3x2-small.jpg?804" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Business Solutions for iPad & iPhone</h5>
                    <p class="card-text">Our flagship range of powered business solutions keeps your iPad securely mounted and charged at al times.</p>

                </div>
                <a href="#" class="btn btn-primary btn-lg btn-block">Shop Business</a>
            </div>

        </div>
        <div class="col-md-4">
            <div class="box" style="width: 23rem;">
                <img src="https://cdn.shopify.com/s/files/1/0173/8828/files/primary-category-ipad_3x2-small.jpg?804" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">iPad Cases & Mounts</h5>
                    <p class="card-text">Expand the functionality of your iPad in every walk of life by connecting to a range of stands and mounts.</p>

                </div>
                <a href="#" class="btn btn-primary btn-lg btn-block">Shop iPad</a>
            </div>

        </div>
        <div class="col-md-4">
            <div class="box" style="width: 23rem;">
                <img src="https://cdn.shopify.com/s/files/1/0173/8828/files/primary-category-power_3x2-small.jpg?804" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Wireless Charging</h5>
                    <p class="card-text">Our first ever wireless charger, featuring a tempered glass surface and an anodised aluminium base.</p>

                </div>
                <a href="#" class="btn btn-primary btn-lg btn-block">Shop Power Uno</a>
            </div>
        </div>
    </div>
</div>
