<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="" style="width: 23rem;">
                <img src="https://cdn.shopify.com/s/files/1/0173/8828/files/primary-category-business_3x2-small.jpg?804" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

                </div>
                <a href="#" class="btn btn-primary btn-lg btn-block">Go somewhere</a>
            </div>

        </div>
        <div class="col-md-4">
            <div class="" style="width: 23rem;">
                <img src="https://cdn.shopify.com/s/files/1/0173/8828/files/primary-category-ipad_3x2-small.jpg?804" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

                </div>
                <a href="#" class="btn btn-primary btn-lg btn-block">Go somewhere</a>
            </div>

        </div>
        <div class="col-md-4">
            <div class="" style="width: 23rem;">
                <img src="https://cdn.shopify.com/s/files/1/0173/8828/files/primary-category-power_3x2-small.jpg?804" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

                </div>
                <a href="#" class="btn btn-primary btn-lg btn-block">Go somewhere</a>
            </div>
        </div>
    </div>
</div>
