a {
    color: black;
    font-size: 20px;
    font-weight: 700;
}

.fixedmenu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.fixedmenu__wrapper {
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.fixedmenu__logo {
    width: 110px;
    height: 18px;
}

.fixedmenu__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    margin-bottom: 0;
}

img {
    width: 100%;
}

.fixedmenu__item {
    list-style: none;
}

.main-menu a.active {
    color: red;
}
